body
{
  background-color:#000;
  background-repeat:no-repeat;
  background-size: cover;
}
h1
{
  background-color: black;
  color: white;
  border-bottom: 6px solid rgb(255, 255, 255);
  text-shadow: 2px 2px 5px red;
 
}
h2{
  color:rgb(1, 78, 179);
  background-color: rgb(150, 150, 150);
  border-style: hidden hidden hidden solid;
  border-color: rgb(7, 3, 224);
  border-width:5px;
  text-align:center;
  margin-bottom:0px;
}
h3{
  color:#fff;
  padding:0px;
  margin-bottom : 0px;
}
p{
  border-left: 6px solid red;
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
  padding:0px;
  margin-top: 0px;
  font-weight: bold;
}
#img1{
  border:solid;
  border-color:white;
  border-width:5px;
}
#img2
{
  border:solid;
  border-color:white;
  border-width:5px;
}
h3.container1 
{
 border:1px ccc solid;
 padding:10px;
 }
a:hover{
  opacity:70%;
}